<a href="https://colab.research.google.com/github/Pedrofmdo/Aula-Programacao/blob/main/20_03colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Idade = int(input('digite a idade do atleta!'))

if(Idade < 18.5):
  print('')
elif(Idade < 18):
  print('Juvenil')
else:
  print('Sênior')

digite a idade do atleta!22
Sênior

In [ ]:
frutas = ['maçã', 'banana' , 'goiaba' , 'jabuticaba' , 'jambo' ]


len (frutas) 

#Meu primeiro Hortefruti

print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

maçã
banana
goiaba
jabuticaba
jambo

In [ ]:
Alunos = ['Marina', 'Luiz', 'Higor', 'Enzo', 'Valentina', 'Douglas', 'bastião', 'Jamal', 'thiago', 'Enaldo']
len(Alunos)

10

In [ ]:
Alunos[7] = 'ivan'

In [ ]:
Alunos.append(input('Digite o nome'))
Alunos

Digite o nomeMatheus

['Marina',
 'Luiz',
 'Higor',
 'Enzo',
 'Valentina',
 'Douglas',
 'bastião',
 'ivan',
 'thiago',
 'Enaldo',
 'Samuel',
 'maycon',
 'mat',
 'Matheus']

In [ ]:
nome = input('Digite o nome ')
if nome in Alunos:
  print('Tem o '+ nome)
else:
  print('Não tem ' + nome)

Digite o nome renato
Não tem renato

In [85]:
numeros = []
for num in range(220):
  numeros.append(num)
numeros

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219]

In [84]:
dobro = []
for num in numeros:
 dobro.append(numeros[num]*2)

dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [75]:
a = 8
if a%2 == 0:
 print('É par')
else:
 print('impar')

É par

In [86]:

for num in numeros: 
 if num %2 == 0:
  print(numeros[num])

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218